@tailwind base;
@tailwind components;
@tailwind utilities;


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: #fff ;
  background: #000;
}

.background-image-div {
  background-image: url('/images/bg-image.svg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh;
  overflow-y: scroll;
  }

.bgg {
  width: 200px;
  height: 200px;
  background: rgba(64, 21, 255, 1);
  /* border-radius: 999px; */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(500px);
  position: absolute;
}
